:root {
  --main-color: #252323;
  --accent-color: #a99985;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --gradient-color: linear-gradient(
    94deg,
    rgba(253, 228, 207, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(235, 190, 243, 1) 100%
  );
  --white-glass-color: rgba(255, 255, 255, 0.17);
  --white-glass-box-shadow: 0 8px 32px 0 rgba(94, 57, 154, 0.37);
  --white-glass-border: 1px solid rgba(255, 255, 255, 0.18);
  --navigation-transparent-light: rgba(207, 186, 240, 0.178);
  --dark-color: #14141a;
  --dark-accent-color: #cfbaf0;
  --navigation-transparent-dark: rgba(20, 20, 26, 0.178);
}

body {
  background: var(--gradient-color);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  color: var(--main-color);
  font-family: Noto Sans;
}

.navbar {
  padding-left: 60px;
  padding-right: 60px;
}

.bg-body-tertiary {
  background: var(--navigation-transparent-light) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.02);
}

.navbar-brand {
  line-height: 1.25;
  font-size: 18px;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: var(--main-color);
  font-size: 18px;
}

.nav-link:hover {
  color: var(--accent-color);
}

.theme-button {
  border: 1.5px solid var(--main-color);
  border-radius: 10px;
  padding: 6px 15px;
  font-size: 18px;
  font-weight: 100;
  cursor: pointer;
}

.theme-button:hover {
  color: var(--accent-color);
  background: var(--main-color);
  border: 1.5px solid var(--main-color);
  transition: 350ms ease-in-out;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2837, 35, 35, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.header {
  height: 650px;
  padding-top: 120px;
}

h4 {
  font-size: 22px;
  margin-bottom: 30px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  line-height: 1;
}

h2 {
  font-size: 70px;
  font-weight: bold;
  color: var(--accent-color);
  line-height: 1;
}

h3 {
  font-size: 50px;
  font-weight: bold;
}

p {
  line-height: 1.5;
}

.header-subtitle {
  font-size: 22px;
  line-height: 1.5;
  margin-top: 30px;
  max-width: 600px;
}

.button-section {
  padding-left: 0;
}

.main-button,
.secondary-button {
  border: 1.5px solid var(--main-color);
  border-radius: 10px;
  font-size: 18px;
  padding: 15px 20px;
  text-decoration: none;
  cursor: pointer;
}

.main-button {
  background: var(--main-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-button {
  color: var(--main-color);
}

.main-button:hover {
  background: transparent;
  color: var(--main-color);
  transition: 350ms ease-in-out;
}

.secondary-button:hover {
  background: var(--main-color);
  border: 1.5px solid var(--main-color);
  color: white;
  transition: 350ms ease-in-out;
}

.section {
  background: white;
}

.my-profile-photo {
  display: flex;
  justify-content: center;
}

.shecodes {
  color: var(--main-color);
  text-decoration: none;
  background-color: #fbf8cc;
  cursor: pointer;
}

.skills {
  color: var(--accent-color);
  font-size: 40px;
  line-height: 1.5;
}

.read-more-link,
.see-project-link {
  color: var(--main-color);
  text-decoration: none;
  cursor: pointer;
}

.card {
  --bs-card-bg: var(--white-glass-color) !important;
  box-shadow: var(--white-glass-box-shadow);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: var(--white-glass-border);
}

.featured-project {
  display: flex;
  justify-content: center;
}

.featured-project:hover {
  transform: scale(1.05, 1.05);
}

.footer {
  padding-top: 40px;
  padding-bottom: 20px;
}

.social-media-icon {
  color: var(--main-color);
  font-size: 24px;
  padding-left: 10px;
}

@media (max-width: 990px) {
  .navbar {
    padding-left: 10px;
    padding-right: 0;
  }

  .nav-item {
    border: none;
    border-radius: 0;
  }

  .theme-button {
    padding-left: 0;
  }

  h1,
  h2 {
    font-size: 50px;
  }

  .header-subtitle {
    font-size: 18px;
  }

  .main-button,
  .secondary-button {
    font-size: 15px;
  }

  .skills {
    font-size: 45px;
  }
}

/* --- Animations ---*/

h2,
.header-subtitle,
.wrap-about-me,
.my-profile-photo,
.featured-project {
  animation: fade linear both;
  animation-timeline: view(block);
  animation-range: entry 50% cover 50%;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(1.875rem);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

/* --- Dark Theme ---*/

.dark {
  background: var(--dark-color);
  color: white;
}

.dark .bg-body-tertiary {
  background: var(--navigation-transparent-dark) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.dark .navbar-brand {
  color: white;
}

.dark .nav-link {
  color: white;
}

.dark .nav-link:hover {
  color: var(--dark-accent-color);
}

.dark .theme-button {
  border: 1.5px solid white;
}

.dark .theme-button:hover {
  color: var(--dark-accent-color);
  background: transparent;
  border: 1.5px solid var(--dark-accent-color);
  transition: 350ms ease-in-out;
}

.dark .navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28245, 241, 237, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dark h2 {
  color: var(--dark-accent-color);
}

.dark .main-button {
  background: var(--dark-accent-color);
  box-shadow: var(--box-shadow);
  color: var(--main-color);
}

.dark .secondary-button {
  border: 1.5px solid var(--dark-accent-color);
  color: var(--dark-accent-color);
}

.dark .main-button:hover {
  background: var(--main-color);
  color: white;
}

.dark .secondary-button:hover {
  border: none;
  color: white;
}

.dark .section,
.dark .section-work {
  background: var(--dark-color);
}

.dark .skills {
  color: var(--dark-accent-color);
}

.dark .card {
  color: white;
}

.dark .read-more-link {
  color: white;
}

.dark .see-project-link {
  color: white;
}

.dark .social-media-icon {
  color: white;
}
