:root {
  --main-color: #252323;
  --main-color-light: #70798c;
  --accent-color: #a99985;
  --section-color: #f5f1ed;
  --background-ui-color: #f5f6fa;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background: white;
  color: var(--main-color);
  font-family: Inter;
}

.bg-body-tertiary {
  background: white !important;
}

.navbar-brand {
  line-height: 1.25;
  font-size: 18px;
}

.nav-item {
  border: 1.5px solid var(--main-color);
  border-radius: 30px;
  margin-left: 20px;
  padding: 5px 20px;
}

.nav-item:hover {
  background: var(--main-color);
  border: 1.5px solid var(--main-color);
  color: white;
  transition: 350ms ease-in-out;
}

.nav-link {
  color: var(--main-color);
  font-size: 18px;
}

.nav-link:hover {
  color: white;
}

.nav-moon {
  padding: 6px 18px;
  font-size: 25px;
  font-weight: 100;
  cursor: pointer;
}

.nav-moon:hover {
  color: white;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2837, 35, 35, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.header {
  height: 650px;
  padding-top: 120px;
}

h4 {
  font-size: 22px;
  margin-bottom: 30px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  line-height: 1;
}

h2 {
  font-size: 70px;
  font-weight: bold;
  color: var(--accent-color);
  line-height: 1;
}

h3 {
  font-size: 50px;
  font-weight: bold;
}

p {
  line-height: 1.5;
}

.header-subtitle {
  font-size: 22px;
  line-height: 1.5;
  margin-top: 30px;
  max-width: 600px;
}

.button-section {
  padding-left: 0;
}

.main-button,
.secondary-button {
  border: 1.5px solid var(--main-color);
  border-radius: 40px;
  font-size: 18px;
  padding: 15px 20px;
  text-decoration: none;
  cursor: pointer;
}

.main-button {
  background: var(--main-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-button {
  color: var(--main-color);
}

.main-button:hover {
  background: white;
  color: var(--main-color);
  transition: 350ms ease-in-out;
}

.secondary-button:hover {
  background: var(--main-color);
  border: 1.5px solid var(--main-color);
  color: white;
  transition: 350ms ease-in-out;
}

.section-about {
  background: var(--section-color);
  height: 550px;
}

.my-profile-photo,
.featured-work {
  display: flex;
  justify-content: center;
}

.read-more-link {
  color: var(--main-color);
  text-decoration: none;
  cursor: pointer;
}

.section-work {
  background: var(--background-ui-color);
}

.footer {
  padding-top: 80px;
  padding-bottom: 20px;
}

.social-media-icon {
  color: var(--main-color);
  font-size: 24px;
  padding-left: 10px;
}

@media (max-width: 990px) {
  nav {
    margin: auto;
  }

  .nav-item {
    border: none;
    border-radius: 0;
  }

  .nav-item:hover {
    background: var(--main-color);
    border: transparent;
    border-radius: 0;
    transition: 350ms ease-in-out;
  }

  .nav-moon {
    border: 1.5px solid var(--main-color);
    border-radius: 30px;
    width: 60px;
  }

  .nav-moon:hover {
    border-radius: 30px;
  }

  h1,
  h2 {
    font-size: 50px;
  }

  .header-subtitle {
    font-size: 18px;
  }

  .main-button,
  .secondary-button {
    font-size: 15px;
  }

  .section-about {
    height: 880px;
  }
}
